[grid]
ewn = 76 
nsn = 141
upn = 11

[sigma]
sigma_levels: 0.00 0.10 0.20 0.30 0.40 0.50 0.60 0.70 0.80 0.90 1.00

[GLINT climate]
precip_mode = 1
acab_mode = 1
ice_tstep_multiply = 10

[projection]
type = STERE
centre_longitude = 321.0
centre_latitude = 90.0
false_easting = 800000.0
false_northing = 3400000.0
standard_parallel = 71.0

[options]
dycore=0
temperature = 0
flow_law = 1
basal_water = 0
marine_margin = 1
slip_coeff = 0
evolution = 2
vertical_integration = 0
hotstart=0

[time]
dt = 1.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
log_level=6
ice_limit = 100.
marine_limit = -200.
geothermal = -5.e-2
flow_factor = 3
hydro_time = 1000.
isos_time = 3000.
basal_tract = 2 10 10 0 1

########################################
# I/O configuration follows
########################################

[CF default]
title: GLINT example test run
institution: Glimmer Inst
references:  some reference
comment: results from the simple test run

[CF output]
name:      gland20.100a.nc
frequency: 100
variables: thk topg ablt_spot acab_spot diffu_spot temp_spot
numspot:   4
spotx:     40 10 60 20 
spoty:     70 10 30 100 
comment:   spots are taken at nodes

[CF output]
name:      gland20.1a.nc
frequency: 10
variables: global_orog local_orog acab thk usurf snowd siced arng

#[GLINT output]
#name: gland20.1a.glint.nc
#frequency: 1
#variables: instant_prcp instant_acab instant_ablt instant_artm

[CF output]
name:      gland20.hot.nc
frequency: 100
variables: hot

[CF input]
name: gland20.input.nc
